@using System.Runtime.Serialization.Formatters.Binary
@using System.Text
@using Newtonsoft.Json
@model Automix.Models.Domain.DetailsAlunosViewModel

@{
    //var stringFromByteArray = System.Text.Encoding.UTF8.GetString(ViewBag.Documento);
}

<h4>Visualizar Aluno</h4>
<hr/>

<form asp-action="Details" method="post" id="result" enctype="multipart/form-data"> 
<div>
    <img style="float:right; border-radius: 50%; object-fit: cover;" id="imagem"  width="150" height="150" alt="Imagem" src="@ViewBag.imgSrc"/>
    <br />
</div> 
</form>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Details" method="post" id="result" enctype="multipart/form-data"> 
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <input asp-for="IDAluno" type="hidden" class="form-control" readonly/>
            </div>
             <div class="form-group">
                Nome: @Model.Nome
            </div>
            <div class="form-group">   
                 NIF: @Model.NIFAluno
            </div>
            <div class="form-group">
                 Morada: @Model.Morada
            </div>
            <div class="form-group">
                 Localidade: @Model.Localidade
            </div>
            <div class="form-group">
                 Código Postal: @Model.CodigoPostal
            </div>
            <div class="form-group">
                 Email: @Model.Email
            </div>
            <div class="form-group">
                 Contacto: @Model.Contacto
            </div>
            <div class="form-group">
                 Contacto Alternativo: @Model.ContactoAlternativo  
            </div>
             <div class="form-group">
                  Atestado Médico Atual: @Model.NomeDocumento 
                   <a asp-action="DownloadFile" asp-route-fileName="@Model.NomeDocumento" class= "btn btn-primary"> Visualizar Atestado Médico </a>
            </div> 
            <br />
            <br />
            <div class="form-group">
                   <a asp-action="Index" class="btn btn-primary">Voltar</a>
            </div>

                <td>       
            </td>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
 function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#imagem').attr('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
    }
}

$("#Foto").change(function(){
    readURL(this);
});
</script>

<script>
    document.querySelector('input').addEventListener('change', function() {

  var reader = new FileReader();
  reader.onload = function() {

    var arrayBuffer = this.result,
      array = new Uint8Array(arrayBuffer),
      binaryString = String.fromCharCode.apply(null, array);

    console.log(binaryString);

  }
  reader.readAsArrayBuffer(this.files[0]);

}, false);
</script>

}

