@model PaginatedList<Automix.Models.Domain.PercursosAlunos>

@{
    ViewData["Title"] = "Percursos Alunos";
}

<h2>Percursos Alunos</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["IDPercurso"]" asp-route-currentFilter="@ViewData["Filtro"]" style="text-decoration:none; color: inherit;"> ID </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NIFAluno"]" asp-route-currentFilter="@ViewData["Filtro"]" style="text-decoration:none; color: inherit;"> NIF </a>
            </th>
            <th>
              <a asp-action="Index" asp-route-sortOrder="@ViewData["Nome"]" asp-route-currentFilter="@ViewData["Filtro"]" style="text-decoration:none; color: inherit;"> Nome </a>
            </th>
            <th>
               <a asp-action="Index" asp-route-sortOrder="@ViewData["Percurso"]" asp-route-currentFilter="@ViewData["Filtro"]" style="text-decoration:none; color: inherit;"> Percurso </a>
            </th>
              <th width="165"><a asp-action="Add" class="btn btn-outline-success"> <i class="fa-solid fa-plus"></i></a></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
     <form class="row g-3" method="post" action="Delete" class="mt-5">
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDPercursoAluno)
            </td>
              <td>
                @Html.DisplayFor(modelItem => item.Alunos.NIFAluno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alunos.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Percursos.Nome)
            </td>
          <td><a href="PercursosAlunos/Update/@item.IDPercursoAluno" class="btn btn-outline-warning"><i class="far fa-edit"></i></a>
                  <a href="PercursosAlunos/Details/@item.IDPercursoAluno" class="btn btn-outline-info"><i class="fa-solid fa-eye"></i></a>
                  <button type="submit" class="btn btn-outline-danger" onclick="return confirm('Tem a certeza que deseja eliminar este registo? ')" asp-action="Delete" asp-route-id="@item.IDPercursoAluno" asp-controller="PercursosAlunos"><i class="fa-solid fa-trash"></i></button>
              </td> 
        </tr>
      </form>
} 
    </tbody>
</table>

@*//PAGINAÇÃO*@
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["Filtro"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["Filtro"]"
   class="btn btn-default @nextDisabled">
    Next
</a>

<p style="float:right">@ViewData["Registos"] Registos - Página @ViewData["PaginaAtual"] de @ViewData["NumeroPaginas"]</p>
