@model PaginatedList<Automix.Models.Domain.Percursos>
@{
    string Estado = string.Empty;  
}

<h2>Percursos</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th> <a asp-action="Index" asp-route-sortOrder="@ViewData["IDPercurso"]" asp-route-currentFilter="@ViewData["Filtro"]" style="text-decoration:none; color: inherit;"> ID </a></th>
            <th> <a asp-action="Index" asp-route-sortOrder="@ViewData["Nome"]" asp-route-currentFilter="@ViewData["Filtro"]" style="text-decoration:none; color: inherit;"> Nome </a></th>
            <th> <a asp-action="Index" asp-route-sortOrder="@ViewData["Status"]" asp-route-currentFilter="@ViewData["Filtro"]" style="text-decoration:none; color: inherit;">Estado </a></th>
            <th width="165"><a asp-action="Add" class="btn btn-outline-success"> <i class="fa-solid fa-plus"></i></a></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Percurso in Model)
        {
            @if(Percurso.Status == false) Estado = "Desativado"; else  Estado = "Ativado"; 

             <form class="row g-3" method="post" action="Delete" class="mt-5">
            <tr>
                <td>@Percurso.IDPercurso</td>
                 <td>@Percurso.Nome</td>
                  <td>@Estado</td>
                  <td><a href="Percursos/Update/@Percurso.IDPercurso" class="btn btn-outline-warning"><i class="far fa-edit"></i></a>
                  <button type="submit" class="btn btn-outline-danger" onclick="return confirm('Tem a certeza que deseja eliminar este registo? ')" asp-action="Delete" asp-route-id="@Percurso.IDPercurso" asp-controller="Percursos"><i class="fa-solid fa-trash"></i></button>
                  </td>
            </tr>
            </form>
        }
    </tbody>
</table>

@*//PAGINAÇÃO*@
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["Filtro"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["Filtro"]"
   class="btn btn-default @nextDisabled">
    Next
</a>

<p style="float:right">@ViewData["Registos"] Registos - Página @ViewData["PaginaAtual"] de @ViewData["NumeroPaginas"]</p>





